# This file is managed by puppet
__version__ = 19
# News server definitions
[servers]
<% @servers.each_pair do |key, value_hash| -%>
[[<%= key %>]]
name = <%= key %>
host = <%= value_hash['server_url'] %>
enable = <%= value_hash['enabled'] || '1' %> 
username = "<%= value_hash['username'] || '' %>"
password = "<%= value_hash['password'] || '' %>"
connections = <%= value_hash['connections'] %>
ssl = <%= value_hash['ssl'] || '0' %>
port = <%= value_hash['port'] || '119' %>
timeout = <%= value_hash['timeout'] || '120' %>
fillserver = <%= value_hash['fillserver'] || '0' %>
optional = <%= value_hash['optional'] || '0' %>
retention = <%= value_hash['retention'] || '0' %>
<% end -%>
# Category definitions
[categories]
[[*]]
priority = 0
pp = 3
name = *
script = None
newzbin = ""
dir = ""
<% @categories.each_pair do |key, value_hash| -%>
[[<%= key %>]]
priority = <%= value_hash['priority'] || '0' %>
pp = <%= value_hash['postprocessing'] || '3' %>
name = <%= key %>
script = None
newzbin = ""
dir = <%= value_hash['directory'] %>
<% end -%>
# SABnzbd settings
[misc]
https_port = <%= @https_port %>
api_key = <%= @api_key %>
nzb_key = <%= @nzb_key %>
port = <%= @port %>
host = <%= @host %>
username = <%= @login_username %>
password = <%= @login_password %>
enable_https = <%= @enable_https %>
download_dir = <%= @download_dir %>
complete_dir = <%= @complete_dir %>
queue_complete = ""
folder_rename = 1
allow_64bit_tools = 1
password_file = ""
rss_rate = 60
https_key = server.key
cleanup_list = ,
cache_limit = ""
ignore_unrar_dates = 0
par_option = ""
web_color = <%= @web_color %>
replace_spaces = 0
web_color2 = <%= @web_color2 %>
dirscan_speed = 5
enable_filejoin = 1
create_group_folders = 0
never_repair = 0
no_penalties = 0
bandwidth_limit = 0
dirscan_dir = <%= @dirscan_dir %>
disable_api_key = 0
email_to = ,
rss_filenames = 0
permissions = <%= @permissions %>
auto_disconnect = 1
use_pickle = 0
enable_date_sorting = 0
replace_dots = 0
movie_sort_extra = -cd%1
ionice = ""
enable_unzip = 1
download_free = 2G
email_dir = ""
pre_script = None
email_full = 0
log_dir = logs
admin_dir = admin
nzb_backup_dir = ""
tv_sort_countries = 1
date_categories = tv,
ssl_type = v23
sfv_check = 1
date_sort_string = ""
schedlines = ,
ignore_samples = 0
enable_tsjoin = 1
auto_browser = 0
pause_on_post_processing = 0
enable_unrar = 1
email_rss = 0
email_account = ""
email_server = ""
allow_streaming = 0
config_lock = 0
api_warnings = 1
tv_sort_string = ""
unpack_check = 1
size_limit = ""
enable_par_cleanup = 1
safe_postproc = 1
cache_dir = cache
replace_illegal = 1
par2_multicore = 1
warned_old_queue = 0
language = en
check_new_rel = 1
no_dupes = 0
top_only = 0
quick_check = 1
movie_sort_string = ""
email_from = ""
movie_extra_folder = 0
email_endjob = 0
tv_categories = ,
pause_on_pwrar = 1
login_realm = SABnzbd
send_group = 0
refresh_rate = 0
movie_categories = movies,
script_dir = ""
email_pwd = ""
ignore_wrong_unrar = 0
nice = ""
enable_movie_sorting = 0
https_cert = server.cert
web_dir2 = <%= @web_dir2 %>
fail_on_crc = 0
auto_sort = 0
ampm = 0
web_dir = <%= @web_dir %>
queue_complete_pers = 0
enable_tv_sorting = 0
folder_max_length = 256
-win_menu = 1
-movie_rename_limit = 100M
-notified_new_skin = 0
-rating_filter_enable = 0
-rating_enable = 0
-inet_exposure = 0
-enable_recursive = 1
-selftest_host = self-test.sabnzbd.org
-pre_check = 0
-allow_duplicate_files = 0
-rating_feedback = 1
-load_balancing = 2
-rating_filter_abort_video = 0
-osx_speed = 1
-quota_period = m
-enable_7zip = 1
-rating_filter_pause_audio = 0
-quota_day = ""
-https_chain = ""
-warn_empty_nzb = 1
-history_limit = 10
-rating_filter_pause_encrypted_confirm = 0
-warned_old_queue9 = 0
-enable_https_verification = 0
-ipv6_hosting = 0
-enable_bonjour = 1
-quota_size = ""
-wait_ext_drive = 5
-ipv6_servers = 1
-enable_all_par = 0
-rating_filter_pause_encrypted = 0
-queue_limit = 20
-osx_menu = 1
-show_sysload = 2
-html_login = 1
-sanitize_safe = 0
-req_completion_rate = 100.2
-rating_filter_abort_encrypted_confirm = 0
-rating_filter_pause_spam_confirm = 0
-fixed_ports = 0
-fsys_type = 0
-allow_incomplete_nzb = 0
-rating_filter_abort_keywords = ""
-enable_meta = 1
-quota_resume = 0
-wait_for_dfolder = 0
-rating_filter_abort_encrypted = 0
-prospective_par_download = 1
-rating_filter_pause_keywords = ""
-warn_dupl_jobs = 1
-fail_hopeless = 0
-rating_filter_abort_spam_confirm = 0
-no_series_dupes = 0
-propagation_delay = 0
-new_nzb_on_failure = 0
-rating_filter_pause_downvoted = 0
-rating_filter_abort_audio = 0
-nomedia_marker = ""
-max_art_opt = 0
-bandwidth_max = ""
-local_ranges = ,
-keep_awake = 1
-unwanted_extensions = ,
-max_art_tries = 3
-rss_odd_titles = nzbindex.nl/, nzbindex.com/, nzbclub.com/
-rating_filter_pause_spam = 0
-backup_for_duplicates = 1
-sched_converted = 1
-prio_sort_list = ,
-rating_filter_abort_downvoted = 0
-script_can_fail = 0
-bandwidth_perc = 0
-empty_postproc = 0
-rating_host = api.oznzb.com
-rating_filter_pause_video = 0
-api_logging = 1
-web_watchdog = 0
-action_on_unwanted_extensions = 0
-rating_api_key = ""
-flat_unpack = 0
-rating_filter_abort_spam = 0
-start_paused = 0
-overwrite_files = 0
[logging]
log_new = 0
max_log_size = 5242880
log_level = 1
log_backups = 5
enable_cherrypy_logging = 0
[growl]
growl_enable = 1growl_prio_disk_full = 1
growl_prio_new_login = 0
growl_prio_other = 0
growl_prio_download = 0
growl_server = ""
growl_prio_startup = 1
growl_prio_failed = 1
growl_prio_queue_done = 1
growl_prio_warning = 0
growl_prio_error = 0
growl_prio_complete = 1
growl_prio_pp = 0
growl_password = ""
[ncenter]
ncenter_prio_download = 0
ncenter_prio_warning = 0
ncenter_prio_new_login = 0
ncenter_prio_queue_done = 1
ncenter_prio_startup = 1
ncenter_prio_failed = 1
ncenter_prio_disk_full = 1
ncenter_prio_error = 0
ncenter_enable = 0
ncenter_prio_complete = 1
ncenter_prio_pp = 0
ncenter_prio_other = 0
[nscript]
nscript_prio_warning = 0
nscript_prio_complete = 1
nscript_prio_other = 0
nscript_prio_queue_done = 1
nscript_prio_failed = 1
nscript_prio_pp = 0
nscript_prio_new_login = 0
nscript_script = ""
nscript_prio_download = 0
nscript_prio_error = 0
nscript_prio_startup = 1
nscript_enable = 0
nscript_prio_disk_full = 1
[pushover]
pushover_prio_error = 1
pushover_enable = 0
pushover_prio_complete = -1
pushover_prio_warning = 1
pushover_prio_startup = -3
pushover_prio_queue_done = -1
pushover_prio_other = -3
pushover_prio_pp = -3
pushover_prio_disk_full = 1
pushover_device = ""
pushover_token = ""
pushover_prio_new_login = -3
pushover_prio_failed = -1
pushover_prio_download = -2
pushover_userkey = ""
[prowl]
prowl_prio_disk_full = 1
prowl_prio_error = -3
prowl_prio_download = -3
prowl_enable = 0
prowl_prio_failed = 1
prowl_prio_pp = -3
prowl_prio_new_login = -3
prowl_apikey = ""
prowl_prio_startup = -3
prowl_prio_warning = -3
prowl_prio_other = -3
prowl_prio_complete = 0
prowl_prio_queue_done = 0
[acenter]
acenter_prio_warning = 0
acenter_prio_disk_full = 1
acenter_prio_new_login = 0
acenter_prio_error = 0
acenter_prio_failed = 1
acenter_prio_startup = 0
acenter_prio_queue_done = 1
acenter_enable = 0
acenter_prio_complete = 1
acenter_prio_download = 0
acenter_prio_pp = 0
acenter_prio_other = 0
[ntfosd]
ntfosd_prio_queue_done = 1
ntfosd_enable = 1
ntfosd_prio_error = 0
ntfosd_prio_startup = 1
ntfosd_prio_complete = 1
ntfosd_prio_pp = 0
ntfosd_prio_warning = 0
ntfosd_prio_other = 0
ntfosd_prio_disk_full = 1
ntfosd_prio_new_login = 0
ntfosd_prio_download = 0
ntfosd_prio_failed = 1
[pushbullet]
pushbullet_prio_download = 0
pushbullet_prio_queue_done = 0
pushbullet_enable = 0
pushbullet_prio_complete = 1
pushbullet_prio_warning = 0
pushbullet_device = ""
pushbullet_prio_failed = 1
pushbullet_prio_other = 0
pushbullet_apikey = ""
pushbullet_prio_disk_full = 1
pushbullet_prio_new_login = 0
pushbullet_prio_pp = 0
pushbullet_prio_startup = 0
pushbullet_prio_error = 0
